<!DOCTYPE html>
<html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Name Your Favorite Color</title>
    <meta name="description" content="A website about color">
    <meta name="viewport" content="width=device-width">
    
    <!-- Opengraph information -->
    <meta property="og:site_name" content="Name Your Favorite Color">
    <meta property="og:image" content="">

	<link rel="stylesheet" href="styles/d226ebb7.main.css"/>
</head>
  <body ng-app="nyfcApp" ng-controller="nyfcUser">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    
    <!-- Facebook init -->
    <div id="fb-root"></div>
		<script src="//connect.facebook.net/en_US/all.js"></script>
    <script>
	    FB.init({
	      appId      : '463079237130162', // App ID from the app dashboard
	      status     : true,              // Check Facebook Login status
	      xfbml      : false              // Look for social plugins on the page
	    });
    </script>

    <!-- Add your site or application content here -->
    <div class="container" ng-view=""></div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-46747739-1');
       ga('send', 'pageview');
    </script>

    
    <!-- datasource library for firebase -->
    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
 
		<script src="scripts/4557257c.vendor.js"></script>
				
		<script src="scripts/4c5e08f3.app.js"></script>
		
</body>
</html></html>